## Import Library yg dibutuhkan

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
#tambahkan library sesuai kebutuhan

In [ ]:
data = pd.read_csv('activity_km_07_01.csv')

In [ ]:
data

      PH cahaya  ... tinggi air                                  aksi
0    6.5    Ada  ...        622  Hidupkan Lampu dan Pompa nutrisi TDS
1    5.7    Ada  ...        557  Hidupkan Lampu dan Pompa nutrisi TDS
2    6.0    Ada  ...        491  Hidupkan Lampu dan Pompa nutrisi TDS
3    6.5    Ada  ...      12000               Tidak melakukan apa-apa
4    6.2    NaN  ...        444               Tidak melakukan apa-apa
..   ...    ...  ...        ...                                   ...
611  4.6    Ada  ...         47                        Hidupkan Lampu
612  2.1    Ada  ...         18  Hidupkan Lampu dan Pompa nutrisi TDS
613  3.2    Ada  ...         19                        Hidupkan Lampu
614  1.4    Ada  ...          3                        Hidupkan Lampu
615  5.0    Ada  ...         19                        Hidupkan Lampu

[616 rows x 7 columns]

## 1. Mengganti nama kolom yang menggunakan spasi

In [ ]:
#isi code

## 2. Mengganti data kategorikal menjadi bentuk numerical (Clue : Labelencoder tidak bekerja ketika ada missing value, gunakan metode lain)

In [ ]:
#Isi Code

## 3. Handle Missing Value

In [ ]:
#Isi Code

## 4. Detect outliers dan handling (bisa dihapus atau diganti nilainya dengan mean/modus/median)

In [ ]:
#Isi Code

## 5. Pisahkan data feature dengan label

In [ ]:
#Isi Code

## 6. Check Imbalanced Dataset, jika imbalanced, gunakan smote

In [ ]:
#pip install imbalanced-learn

In [ ]:
#Isi Code

## 7. Visualisasikan Data sehingga kita bisa mengetahui sebuah informasi

In [ ]:
#Isi Code

## 8. Lakukan Normalization menggunakan MinMaxScaler atau Standardization menggunakan StandarScaler

In [ ]:
#Isi Kode

## 9. Buat model ANN

In [ ]:
#Isi Code

## 10. Build Model KNN